<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('pro');}"><i class="fa fa-reply-all"></i> 返回项目列表</a></li>
	<li {if $_GPC['do'] == 'bride' && $_GPC['op'] ==''}class="active"{/if}><a href="{php echo $this->createWebUrl('bride',array('pro_id' => $_SESSION['pro_id']));}">新娘管理</a></li>
	<li {if $_GPC['do'] == 'bride' && $_GPC['op'] =='edit'}class="active"{/if}><a href="{php echo $this->createWebUrl('bride', array('op' => 'edit','pro_id' => $_SESSION['pro_id']));}">添加新娘</a></li>
	<li {if $_GPC['do'] == 'yuyue' && $_GPC['op'] =='display'} class="active"{/if}><a href="{php echo $this->createWebUrl('yuyue',array('op' => 'display','pro_id' => $_SESSION['pro_id']));}">所有记录</a></li>
	<li {if $_GPC['do'] == 'yuyue' && $_GPC['type'] =='yufu'} class="active"{/if}><a href="{php echo $this->createWebUrl('yuyue', array('type' => 'yufu','pro_id' => $_SESSION['pro_id']));}">预付记录</a></li>
	<li {if $_GPC['do'] == 'yuyue' && $_GPC['type'] =='yuyue'} class="active"{/if}><a href="{php echo $this->createWebUrl('yuyue', array('type' => 'yuyue','pro_id' => $_SESSION['pro_id']));}">预约记录</a></li>
</ul>
