html {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
body {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
div {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h1 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h2 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h3 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h4 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h5 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
h6 {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
ul {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
ol {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
dl {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
li {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
dt {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
dd {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
p {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
blockquote {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
pre {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
form {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
fieldset {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
table {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
th {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
td {
	margin: 0px; padding: 0px; font-family: "微软雅黑",Tahoma,Arial,sans-serif;
}
body {
	color: rgb(51, 51, 51); line-height: 1.5; font-size: 16px; background-color: rgb(255, 255, 255);
}
h1 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
h2 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
h3 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
h4 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
h5 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
h6 {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
.s_btn {
	font: 18px/28px "微软雅黑"; font-size-adjust: none; font-stretch: normal;
}
body {
	background: fixed rgb(255, 255, 255);
}
a {
	color: rgb(102, 102, 102); text-decoration: none; cursor: pointer; outline-style: none;
}
a:visited {
	color: rgb(102, 102, 102); text-decoration: none; cursor: pointer; outline-style: none;
}
a:hover {
	color: rgb(238, 124, 51); text-decoration: none;
}
a:active {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
img {
	border: currentColor; border-image: none; width: 100%; display: block; min-height: 30px; min-width: 30px;
}
textarea:active {
	border-color: rgb(150, 203, 245);
}
input:active {
	border-color: rgb(150, 203, 245);
}
select:active {
	border-color: rgb(150, 203, 245);
}
textarea:focus {
	border-color: rgba(82, 168, 236, 0.75) !important;
}
input:focus {
	border-color: rgba(82, 168, 236, 0.75) !important;
}
select:focus {
	border-color: rgba(82, 168, 236, 0.75) !important;
}
input[type='text'] {
	cursor: text; min-height: 25px;
}
input[type='password'] {
	cursor: text; min-height: 25px;
}
.input {
	background: rgb(255, 255, 255); margin: 5px 20px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; box-shadow: 0px 0px 2px #666; -moz-border-radius: 5px; -webkit-box-shadow: #666 0px 0px 2px; -moz-box-shadow: #666 0px 0px 2px;
}
textarea {
	-ms-word-wrap: break-word;
}
div {
	-ms-word-wrap: break-word;
}
p {
	-ms-word-wrap: break-word;
}
li {
	-ms-word-wrap: break-word;
}
h3 {
	padding-left: 10px; text-decoration: none; position: relative;
}
h3 a:hover {
	text-decoration: none;
}
h3 .ab_r {
	background: url("../img/icon.png") no-repeat 0px -322px; top: 5px; width: 36px; height: 23px; line-height: 23px; padding-left: 13px; font-size: 12px; display: block;
}
.btn {
	border: currentColor; border-image: none; cursor: pointer; outline-style: none;
}
.btn:focus {
	border: currentColor; border-image: none; cursor: pointer; outline-style: none;
}
.btn:hover {
	border: currentColor; border-image: none; cursor: pointer; outline-style: none;
}
.rd5 {
	border-radius: 5px; -moz-border-radius: 5px;
}
.opa {
	opacity: 0.65;
}
.i_opa i {
	opacity: 0.65;
}
.bor {
	border: 1px solid rgb(204, 204, 204); border-image: none; -ms-zoom: 1;
}
.ab_l {
	left: 0px; top: 0px; position: absolute;
}
.ab_r {
	top: 0px; right: 0px; position: absolute;
}
.mt10 {
	margin-top: 10px;
}
.clear {
	padding: 0px; height: 0px; line-height: 0; clear: both; visibility: hidden;
}
.clearfix {
	display: block; -ms-zoom: 1;
}
.img_bd {
	display: block; -ms-zoom: 1;
}
.ul_h {
	display: block; -ms-zoom: 1;
}
.dl_h {
	display: block; -ms-zoom: 1;
}
dl {
	display: block; -ms-zoom: 1;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.ul_h::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.ul_h li::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.ul_v li::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.dl_h::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
html[xmlns] .clearfix {
	display: block;
}
html[xmlns] .ul_h {
	display: block;
}
.ul_h {
	margin: 0px;
}
.ul_v {
	padding: 0px; margin-left: 0px; -ms-zoom: 1;
}
.ul_h li {
	list-style: none; overflow: hidden; margin-left: 0px; display: block; position: relative; -ms-zoom: 1;
}
.ul_v li {
	list-style: none; overflow: hidden; margin-left: 0px; display: block; position: relative; -ms-zoom: 1;
}
.ul_h li {
	float: left; display: inline;
}
.dl_h dt {
	float: left; display: inline;
}
.dl_h dd {
	float: left; display: inline;
}
.white {
	color: rgb(255, 255, 255);
}
.white:visited {
	color: rgb(255, 255, 255);
}
.white a {
	color: rgb(255, 255, 255);
}
.white a:visited {
	color: rgb(255, 255, 255);
}
a.white:hover {
	color: rgb(250, 250, 250);
}
a.white:active {
	color: rgb(250, 250, 250);
}
a.white:focus {
	color: rgb(250, 250, 250);
}
.white a:hover {
	color: rgb(250, 250, 250);
}
.white a:active {
	color: rgb(250, 250, 250);
}
.white a:focus {
	color: rgb(250, 250, 250);
}
.graya {
	color: rgb(153, 153, 153);
}
.graya:visited {
	color: rgb(153, 153, 153);
}
.graya a {
	color: rgb(153, 153, 153);
}
.graya a:visited {
	color: rgb(153, 153, 153);
}
a.graya:hover {
	color: rgb(102, 102, 102);
}
a.graya:active {
	color: rgb(102, 102, 102);
}
a.graya:focus {
	color: rgb(102, 102, 102);
}
.graya a:hover {
	color: rgb(102, 102, 102);
}
.graya a:active {
	color: rgb(102, 102, 102);
}
.graya a:focus {
	color: rgb(102, 102, 102);
}
.black {
	color: rgb(51, 51, 51);
}
.black:visited {
	color: rgb(51, 51, 51);
}
.black a {
	color: rgb(51, 51, 51);
}
.black a:visited {
	color: rgb(51, 51, 51);
}
a.black:hover {
	color: rgb(102, 102, 102);
}
a.black:active {
	color: rgb(102, 102, 102);
}
a.black:focus {
	color: rgb(102, 102, 102);
}
.black a:hover {
	color: rgb(102, 102, 102);
}
.black a:active {
	color: rgb(102, 102, 102);
}
.black a:focus {
	color: rgb(102, 102, 102);
}
.red {
	color: rgb(238, 124, 51);
}
.red:visited {
	color: rgb(238, 124, 51);
}
.red a {
	color: rgb(238, 124, 51);
}
.red a:visited {
	color: rgb(238, 124, 51);
}
a.red:hover {
	color: rgb(212, 17, 80);
}
a.red:active {
	color: rgb(212, 17, 80);
}
a.red:focus {
	color: rgb(212, 17, 80);
}
.red a:hover {
	color: rgb(212, 17, 80);
}
.red a:active {
	color: rgb(212, 17, 80);
}
.red a:focus {
	color: rgb(212, 17, 80);
}
.orange {
	color: rgb(240, 126, 159);
}
.orange:visited {
	color: rgb(240, 126, 159);
}
.orange a {
	color: rgb(240, 126, 159);
}
.orange a:visited {
	color: rgb(240, 126, 159);
}
a.orange:hover {
	color: rgb(173, 30, 30);
}
a.orange:active {
	color: rgb(173, 30, 30);
}
a.orange:focus {
	color: rgb(173, 30, 30);
}
.orange a:hover {
	color: rgb(173, 30, 30);
}
.orange a:active {
	color: rgb(173, 30, 30);
}
.orange a:focus {
	color: rgb(173, 30, 30);
}
.green {
	color: rgb(240, 126, 159);
}
.green:visited {
	color: rgb(240, 126, 159);
}
.green a {
	color: rgb(240, 126, 159);
}
.green a:visited {
	color: rgb(240, 126, 159);
}
a.green:hover {
	color: rgb(51, 153, 102);
}
a.green:active {
	color: rgb(51, 153, 102);
}
a.green:focus {
	color: rgb(51, 153, 102);
}
.green a:hover {
	color: rgb(51, 153, 102);
}
.green a:active {
	color: rgb(51, 153, 102);
}
.green a:focus {
	color: rgb(51, 153, 102);
}
.blue {
	color: rgb(240, 126, 159);
}
.blue:visited {
	color: rgb(240, 126, 159);
}
.blue a {
	color: rgb(240, 126, 159);
}
.blue a:visited {
	color: rgb(240, 126, 159);
}
a.blue:hover {
	color: rgb(117, 150, 6);
}
a.blue:active {
	color: rgb(117, 150, 6);
}
a.blue:focus {
	color: rgb(117, 150, 6);
}
.blue a:hover {
	color: rgb(117, 150, 6);
}
.blue a:active {
	color: rgb(117, 150, 6);
}
.blue a:focus {
	color: rgb(117, 150, 6);
}
.btn {
	padding: 0px 10px; border-radius: 5px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; display: inline-block; background-color: rgb(245, 84, 84); -moz-border-radius: 5px; -webkit-appearance: none;
}
.btn:visited {
	padding: 0px 10px; border-radius: 5px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; display: inline-block; background-color: rgb(240, 126, 159); -moz-border-radius: 5px; -webkit-appearance: none;
}
.btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(240, 126, 159);
}
.btn:active {
	color: rgb(255, 255, 255); background-color: rgb(240, 126, 159);
}
.graya {
	color: rgb(240, 126, 159);
}
