.ui-refresh-down{line-height:50px}
.xml .ab_l{left:10px;top:10px}
.xml .ab_l img{height:75px;width:75px}
.adress_i{background-position: -71px -283px;padding-left: 23px;padding-right:20px;margin-top: 5px;height:23px;overflow:hidden}
.dpp{padding:10px 10px 0 95px;min-height:96px;text-align:left;background:#fff;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:10px;color:#999}
.dpp .n{color:#ABCD36;font-size:16px;padding-rihgt:10px}
.dpp .btn{line-height:18px;font-size:14px;height:18px;padding:0 5px;-moz-border-radius:3px; border-radius:3px;margin-right:5px}
.dpp .tel{padding-left:23px;background-position:-72px -353px}
.dpp i{color:#ccc;font-style:normal}
.dp_r{margin:10px 0;position:relative;line-height:30px}
.dp_r li{margin-right:5px}
.dp_r img{width:30px;height:30px}
.arr {width: 30px;height: 30px;display: block;position: absolute;right:3px;top: 50%;margin-top: -15px;background-position: -30px -153px;}