{template 'template_script'}
<style>
</style>
<div class="row span8">
    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/ewei_shopping/style/images/priview1.jpg"
                 src="../addons/ewei_shopping/style/images/priview1.jpg" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        主题1
            </span>
            <div class="radio">
                <label>
                    <input type="radio" name="template" value="1" {if $settings['template']=='1'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:120px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/ewei_shopping/style/images/priview2.jpg"
                 src="../addons/ewei_shopping/style/images/priview2.jpg" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                        主题2
            </span>
            <div class="radio">
                <label>
                    <input type="radio" name="template" value="2" {if $settings['template']=='2'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>
</div>
