<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link href="../addons/wei_daijia/template/css/index.css" type="text/css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/style_366c9ef.css" type="text/css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/style.css" type="text/css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=steGNL2uu8ChNvz83MA3Gita"></script>
<script src="../addons/wei_daijia/template/js/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>代驾</title>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
</head>
<body>
<div id="searchResultPanel" style="display: none;border:1px solid #C0C0C0;width:300px;height:600px;position:absolute;left: 650px;top:20px;"></div>
<div id="container" style="display: none;"></div>
{if $operation == 'yes'}
		<form class="location-lump" name='form' method="post">
			<fieldset class="" style="background-image: url(../addons/wei_daijia/template/images/yes.png);">
				<input type="text" value="下单成功！服务人员随后就到." readonly="readonly" class="ui-autocomplete-input">
			</fieldset>
		</form>
		{else}
		
		<form class="location-lump" name='form' method="post">
			<fieldset class="" style="background-image: url(../addons/wei_daijia/template/images/icon_3.png);">
				<input type="text" name="ad1" id="ad1"  placeholder="当前地址" maxlength="20" class="ui-autocomplete-input">
			    <input type="hidden" name="province" id="province" value="" >
				<input type="hidden" name="city" id="city" value="" >
				<input type="hidden" name="district" id="district" value="" >
				<input type="hidden" name="street" id="street" value="" >

			</fieldset>
			<fieldset class="" style="background-image: url(../addons/wei_daijia/template/images/icon_3.png);">
				<input type="text" name="ad2" id="suggestId" value="乌鲁木齐市..." placeholder="输入目的地址吧" maxlength="20" class="ui-autocomplete-input">
			</fieldset>
			<fieldset class="" style="background-image: url(../addons/wei_daijia/template/images/icon_2.png);">
				<input type="tel" id="mobile" name="mobile" value="" placeholder="请输入手机号吧！" maxlength="11" min="11" max="11" autocomplete="off" nkeyup="this.value=this.value.replace(/\D/gi,&quot;&quot;)" onblur="value=value.replace(/\D/gi,&quot;&quot;);if(value.length&lt;11){alert(&quot;电话号码位数不够！&quot;);}">
			</fieldset>
			</br>
		
		
			<span style="display:block;float:left;width: 100%">
             <button style="vertical-align:middle;width: 100%;background-color:#08A600;" type="submit" name="daijia" value="yes" id="submit" class="btn" style="margin-bottom:20px;width: 50%;">我要代驾</button></span>
			<input type="hidden" name="token" value="{$_W['token']}" />
			<span style="display:block;float:right;width: 25%; margin-top: 40px;"><a href="tel:{$p['mobile']}"><font style="color: #178CD1;" size="4" ><i class="fa phone"></i>客服电话</font></a></span>
			<span style="display:block;float:right;width: 25%; margin-top: 40px;"><a href="{php echo $this->createMobileUrl('price',array('type'=>0));}" ><font style="color: #178CD1;" size="4" >服务价格</font></a></span>
			
		</form>

		{/if}
<script type="text/javascript">
function G(id) {
    return document.getElementById(id);
}

var map = new BMap.Map("container");
var point = new BMap.Point(116.3964,39.9093);
map.centerAndZoom(point,13);
map.enableScrollWheelZoom();

var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
    {"input" : "suggestId"
    ,"location" : map
});
var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
    {"input" : "suggestId2"
    ,"location" : map
});
ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
var str = "";
    var _value = e.fromitem.value;
    var value = "";
    if (e.fromitem.index > -1) {
        value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }    
    str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
    
    value = "";
    if (e.toitem.index > -1) {
        _value = e.toitem.value;
        value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }    
    str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
    G("searchResultPanel").innerHTML = str;
});

var myValue;
ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
var _value = e.item.value;
    myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
    
    setPlace();
});

function setPlace(){// 创建地址解析器实例
var myGeo = new BMap.Geocoder();// 将地址解析结果显示在地图上,并调整地图视野
myGeo.getPoint(myValue, function(point){
if (point) {
    map.centerAndZoom(point, 16);
    map.addOverlay(new BMap.Marker(point));
}
}, "北京");
}
</script>
</body>
<footer class="footer">
    <nav>
      <ul>
        <li style="width: 20%;"><a class="nav-controller active" href="{php echo $this->createMobileUrl('index');}"><i class="fa fa-home"></i>代驾</a></li>
        <li style="width: 20%;"><a class="nav-controller" href="{php echo $this->createMobileUrl('daibu');}"><i class="fa fa-home"></i>代步</a></li>
        <li style="width: 20%;"><a class="nav-controller" href="{php echo $this->createMobileUrl('dailao');}"><i class="fa fa-home"></i>代劳</a></li>
        <li style="width: 20%;"><a href="{php echo $this->createMobileUrl('grant');}" class="nav-controller"><i class="fa fa-group"></i>最新活动</a></li>
        <li style="width: 20%;"><a class="nav-controller " href="{php echo $this->createMobileUrl('person');}"><i class="fa fa-user"></i>个人中心</a></li>
      </ul>
  </nav>
  </footer>
  <script>
		function getLocation(){
	    if(navigator.geolocation){
	      var dizhi= navigator.geolocation.getCurrentPosition(showPosition);
	      
	      }else{
	       alert("您的浏览器不支持地理定位");
	      }
	   }
	
	function showPosition(position){
	    lat=position.coords.latitude;
	    lon=position.coords.longitude;
	    var point = new BMap.Point(lon, lat);    // 创建点坐标
	    var gc = new BMap.Geocoder(); //地址匹配类   
	    gc.getLocation(point, function(rs){
	       var addComp = rs.addressComponents;
	       var str = addComp.province + "" + addComp.city + "" + addComp.district + "" + addComp.street;
	       document.getElementById("ad1").value = "" + str;
	       document.getElementById("province").value = "" + addComp.province;
	       document.getElementById("city").value = "" + addComp.city;
	       document.getElementById("district").value = "" + addComp.district;
	       document.getElementById("street").value = "" + addComp.street;
	      });
	   }
	</script>
	<script>
		onload=getLocation();
	</script>
	<script type="text/javascript">
		$("#submit").bind("click", function(){
			    var ad1 =$("#ad1").val(); 
		        var ad2 =$("#suggestId").val(); 
		        if(!ad2){
		            alert("请输入目的地址！");
		              return false;
		          };
		          var mobile =$("#mobile").val(); 
		        if(!mobile){
		            alert("请输入电话！");
		              return false;
		          };
		      });
		    
	</script>
</html>
