<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link href="../addons/wei_daijia/template/css/index.css" type="text/css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/style_366c9ef.css" type="text/css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/style.css" type="text/css" rel="stylesheet">
<link href="../addons/wei_daijia/template/css/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=steGNL2uu8ChNvz83MA3Gita"></script>
<script src="../addons/wei_daijia/template/js/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>代劳</title>
<style>
	.divcss5{font-family:"微软雅黑";font-size: 23px;} 
	input[type=radio]{border:1px solid #fcc;}
</style>
</head>
<body style="padding-top: 0px;">
	
	<div class="divcss5" >
		
		<form  name='form'  method="post" style="height: 600px;;background-image: url(../addons/wei_daijia/template/images/222.jpg);background-repeat:no-repeat;background-size:100% 100%;margin-bottom: auto;">
			
			<table>
				<tr align="left">
					<td colspan="2">A:0-1小时</td>
				</tr>
				<tr><td width="20%" align="right"><input type="radio" name="radio" value="0" id='00'></td><td id='0'>重10公斤以内，{$price['pricetype1']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="1" id='11'></td><td id='1'>重10-50公斤，{$price['pricetype2']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="2" id='22'></td><td id='2'>重51-200公斤，{$price['pricetype3']}元每次</td></tr>
				<tr align="left">
					<td colspan="2">B:1-5小时</td>
				</tr>
				<tr><td align="right"><input type="radio" name="radio" value="3" id='33'></td><td id='3'>重10公斤以内，{$price['pricetype4']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="4" id='44'></td><td id='4'>重10-50公斤，{$price['pricetype5']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="5" id='55'></td><td id='5'>重51-200公斤，{$price['pricetype6']}元每次</td></tr>
				<tr align="left">
					<td colspan="2">C:5-10小时</td>
				</tr>
				<tr><td align="right"><input type="radio" name="radio" value="6" id='66'></td><td id='6'>重10公斤以内，{$price['pricetype7']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="7" id='77'></td><td id='7'>重10-50公斤，{$price['pricetype8']}元每次</td></tr>
				<tr><td align="right"><input type="radio" name="radio" value="8" id='88'></td><td id='8'>重51-200公斤，{$price['pricetype9']}元每次</td></tr>
				<tr align="center">
					<td colspan="2">
						<input type="submit" name="submit" id="submit" class="btn" value="确认选择" style="margin-left: 10px;;"></td>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</tr>
			</table>
			
		</form>
	</div>


</body>
<footer class="footer">
    <nav>
      <ul>
        <li style="width: 20%;"><a class="nav-controller " href="{php echo $this->createMobileUrl('index');}"><i class="fa fa-home"></i>代驾</a></li>
        <li style="width: 20%;"><a class="nav-controller" href="{php echo $this->createMobileUrl('daibu');}"><i class="fa fa-home"></i>代步</a></li>
        <li style="width: 20%;"><a class="nav-controller active" href="{php echo $this->createMobileUrl('dailao');}"><i class="fa fa-home"></i>代劳</a></li>
        <li style="width: 20%;"><a href="{php echo $this->createMobileUrl('grant');}" class="nav-controller"><i class="fa fa-group"></i>最新活动</a></li>
        <li style="width: 20%;"><a class="nav-controller " href="{php echo $this->createMobileUrl('person');}"><i class="fa fa-user"></i>个人中心</a></li>
      </ul>
  </nav>
  </footer>
	<script type="text/javascript">
		$("#0").bind("click", function(){
			   $("#00").attr("checked","0");
		  });
		  $("#1").bind("click", function(){
			   $("#11").attr("checked","1");
		  });
		  $("#2").bind("click", function(){
			   $("#22").attr("checked","2");
		  });
		  $("#3").bind("click", function(){
			   $("#33").attr("checked","3");
		  });
		  $("#4").bind("click", function(){
			   $("#44").attr("checked","4");
		  });
		  $("#5").bind("click", function(){
			   $("#55").attr("checked","5");
		  });
		  $("#6").bind("click", function(){
			   $("#66").attr("checked","6");
		  });
		  $("#7").bind("click", function(){
			   $("#77").attr("checked","7");
		  });
		  $("#8").bind("click", function(){
			   $("#88").attr("checked","8");
		  });
	</script>
</html>
